* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

#btn-main {
  padding: 20px;
  background-color: rgb(230, 251, 136);
}

button {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid rgb(255, 115, 0);
  background-color: rgb(187, 134, 0);
  margin-right: 10px;
  cursor: pointer;
}

.blue {
  background-color: rgb(81, 17, 255);
}

.red {
  background-color: rgb(255, 41, 41); 
}